{% extends './profile/userProfile.html' %}
{% block tabContent %}
<div id="password-tab" class="p-4 col-12 d-flex align-items-center flex-column">
  <h5 class="mb-3">Đổi mật khẩu của bạn</h5>
  <div class="mb-3 w-50" style="min-width: 200px">
    <label for="input1" class="form-label">Mật khẩu cũ</label>
    <input type="password" class="form-control" id="input1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3 w-50" style="min-width: 200px">
    <label for="input1" class="form-label">Mật khẩu mới</label>
    <input type="password" class="form-control" id="input1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3 w-50" style="min-width: 200px">
    <label for="input1" class="form-label">Nhập lại mật khẩu</label>
    <input type="password" class="form-control" id="input1" aria-describedby="emailHelp">
  </div>
  <button type="button" class="btn btn-primary">Xác nhận</button>
</div>
{% endblock %}