{% extends './profile/userProfile.html' %}
{% block tabContent %}
<div id="order-tab" class="p-4 col-12 d-flex align-items-center flex-column" style="min-height: 300px">
    <h5 class="mb-3 text-primary">Các đơn đặt hàng đã đặt</h5>
    {% if bookingLength == 0 %}
        <div id="order-none" class="order-none d-none">
            <img class="img-fluid" src="/assets/empty.png" width="300px">
            <p class="text-center">Bạn chưa có đơn hàng nào cả</p>
        </div>
    {% else %}
        {% for booking in listBooking %}
            <div class="order-container w-100" bookingID="{{booking.bookingID}}" onclick="viewDetailBooking(this);">
                <div class="order-item">
                    <div class="left">
                        <img class="order-img" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2{{booking.movie.posterLink}}">
                    </div>
                    <div class="center">
                        <h5 class="order-movie-title">{{booking.movie.movieName}}</h5>
                        <p class="text-muted">{{booking.cinema.cinemaName}}</p>
                        <div class="row">
                            <p class="col-auto">{{booking.room.roomName}}</p>
                            <p class="col-auto">Ghế: {{booking.seatListName}}</p>
                        </div>
                        <p>Thời gian chiếu: {{booking.time}}</p>
                        <p class="fw-bold">Tổng tiền: <span style="font-weight: bold;">{{booking.total}}</span></p>
                    </div>
                    <div class="right ml-auto">
                        <h6 class="text-center">Đồ ăn</h6>
                        {% for food in booking.foodList %}
                            <p>{{food.foodName}} x {{food.foodUnit}}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}

    {% endif %}
    
    
</div>
{% endblock %}