{% extends './template/root.html' %}

{% block header %}
<link rel="stylesheet" href="/css/profile.css">
{% endblock %}

{% block title %}
Hồ sơ người dùng
{% endblock %}

{% block body %}
{{ navbar | raw }}
    <div id="profile">
        <div class="profile-header bg-primary">
            <div class="profile-header-bg container position-relative">
                <div class="absolute-group position-absolute d-flex">
                    <span class="profile-avatar rounded-circle bg-warning d-flex justify-content-center align-items-center">
                        {{firstName}}
                    </span>
                </div>

            </div>
        </div>
        <div class="profile-body bg-white">
            <div class="profile-body-bg container position-relative d-flex flex-md-row flex-column">
                <div class="col-12 col-md-3">
                    <h5>{{user.fullName}}</h5>
                    <p class="text-muted my-0">{{user.email}}</p>
                    <p>Ngày tham gia: {{createAt}}</p>
                </div>
                <div class="profile-body-tab ml-md-5 ml-1 col-12 col-md-9 justify-content-center">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            {% if orderPage == true %}
                                <a class="nav-link active" href="/profile"><h6>Đơn đặt hàng</h6></a>
                            {% else %}
                                <a class="nav-link" href="/profile"><h6>Đơn đặt hàng</h6></a>
                            {% endif %}
                        </li>
                        <li class="nav-item">
                            {% if passwordPage == true %}
                                <a class="nav-link active" aria-current="page" href="/profile/password"><h6>Đổi mật khẩu</h6></a>
                            {% else %}
                                <a class="nav-link" aria-current="page" href="/profile/password"><h6>Đổi mật khẩu</h6></a>
                            {% endif %}
                        </li>
                    </ul>
<!--                    <div id="order-tab" class="p-4 col-12 d-flex align-items-center flex-column">-->
<!--                        <h5 class="mb-3">Các phiếu thu tiền của bạn</h5>-->
<!--                        <div class="mb-3 w-50" style="min-width: 200px">-->
<!--                            <label for="input1" class="form-label">Mật khẩu cũ</label>-->
<!--                            <input type="password" class="form-control" id="input1" aria-describedby="emailHelp">-->
<!--                        </div>-->
<!--                        <div class="mb-3 w-50" style="min-width: 200px">-->
<!--                            <label for="input1" class="form-label">Mật khẩu mới</label>-->
<!--                            <input type="password" class="form-control" id="input1" aria-describedby="emailHelp">-->
<!--                        </div>-->
<!--                        <div class="mb-3 w-50" style="min-width: 200px">-->
<!--                            <label for="input1" class="form-label">Nhập lại mật khẩu</label>-->
<!--                            <input type="password" class="form-control" id="input1" aria-describedby="emailHelp">-->
<!--                        </div>-->
<!--                        <button type="button" class="btn btn-primary">Xác nhận</button>-->
<!--                    </div>-->

<!--                    <div id="password-tab" class="p-4 col-12 d-none align-items-center flex-column">-->
<!--                        <h5 class="mb-3">Thay đổi mật khẩu của bạn</h5>-->
<!--                        <div class="mb-3 w-50" style="min-width: 200px">-->
<!--                            <label for="input1" class="form-label">Mật khẩu cũ</label>-->
<!--                            <input type="password" class="form-control" id="input1" aria-describedby="emailHelp">-->
<!--                        </div>-->
<!--                        <div class="mb-3 w-50" style="min-width: 200px">-->
<!--                            <label for="input1" class="form-label">Mật khẩu mới</label>-->
<!--                            <input type="password" class="form-control" id="input1" aria-describedby="emailHelp">-->
<!--                        </div>-->
<!--                        <div class="mb-3 w-50" style="min-width: 200px">-->
<!--                            <label for="input1" class="form-label">Nhập lại mật khẩu</label>-->
<!--                            <input type="password" class="form-control" id="input1" aria-describedby="emailHelp">-->
<!--                        </div>-->
<!--                        <button type="button" class="btn btn-primary">Xác nhận</button>-->
<!--                    </div>-->
                    {% block tabContent %}
                    {% endblock %}
                   
                </div>
            </div>
        </div>
    </div>

    <div class="popUp-container" style="display: none;">
        <div class="detail-booking">
            <div class="left">
                <div class="header-booking bold up-text" id="cinema-name"></div>
                <img src="/assets/qrcode.jpg" alt="" srcset="" id="movie-image">
            </div>
            <div class="right">
                <div class="movie-name">
                    <div class="name fl-r-center w-100 bold mg-t-40" id="movie-name"></div>
                </div>
                <div class="room-name fl-r-sp-btw w-100 mg-t-20">
                    <div class="title">Phòng chiếu</div>
                    <div class="name bold w-220px fl-r-lf" id="room-name"></div>
                </div>
                <div class="seats-name fl-r-sp-btw w-100">
                    <div class="title">Ghế</div>
                    <div class="name bold w-220px fl-r-lf" id="seats-name"></div>
                </div>
                <div class="showtime fl-r-sp-btw w-100">
                    <div class="title">Thời gian</div>
                    <div class="name bold w-220px fl-r-lf" id="showtime"></div>
                </div>

                <div class="container-food mg-t-20">
                    <div class="food-header up-text bold fl-r-center w-100">Food</div>
                    <div class="table-hearder fl-r-sp-btw">
                        <div class="food-name tb-h bold">Tên combo</div>
                        <div class="food-quantity tb-h bold">SL</div>
                    </div>
                    <div class="content-food">
                        
                    </div>
                </div>

                <div class="container-price w-100 t-bd-s mg-t-40">
                    <div class="ticket-cost fl-r-sp-btw w-100">
                        <div class="title">Tiền ghế</div>
                        <div class="price bold" id="ticket-cost"></div>
                    </div>

                    <div class="food-cost fl-r-sp-btw w-100">
                        <div class="title">Tiền combo</div>
                        <div class="price bold" id="food-cost"></div>
                    </div>

                    <div class="total-cost fl-r-sp-btw w-100">
                        <div class="title">Tổng</div>
                        <div class="price bold" id="total-cost" style="color: red;"></div>
                    </div>
                </div>
                <div class="status-booking mg-t-40 fl-r-center bold" style="font-style: italic;"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script src="/js/page/profile.js"></script>
<script>
    
</script>
{% endblock %}