{% extends './profile/userProfile.html' %}
{% block tabContent %}
<div id="order-tab" class="p-4 col-12 d-flex align-items-center flex-column" style="min-height: 300px">
    <h5 class="mb-3 text-primary">Các đơn đặt hàng đã đặt</h5>
    <div id="order-none" class="order-none d-none">
        <img class="img-fluid" src="/assets/empty.png" width="300px">
        <p class="text-center">Bạn chưa có đơn hàng nào cả</p>
    </div>
    <div class="order-container w-100">
        <div class="order-item">
            <div class="left">
                <img class="order-img" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/gRlfFcpPdjREQ3lgeuAuB10gfbR.jpg">
            </div>
            <div class="center">
                <h5 class="order-movie-title">Anh Em Super Mario (2023)</h5>
                <p class="text-muted">Rạp SGU An Dương Vương</p>
                <div class="row">
                    <p class="col-auto">Phòng 1</p>
                    <p class="col-auto">Ghế: D6, D7, D8</p>
                </div>
                <p>Thời gian chiếu: 8:00 5/5/2023</p>
                <p class="fw-bold">Tổng tiền: 80.000đ</p>
            </div>
            <div class="right ml-auto">
                <h6 class="text-center">Đồ ăn:</h6>
                <p>2 x Bắp rang bơ</p>
                <p>3 x Nước ngọt Pepsi</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}