{% extends "./template/base.html" %}

{% block head %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
{% endblock %}

{% block title %}
Trang Demo
{% endblock %}

{% block body %}

{% include "./template/nav.html" %}
{% include "./template/carousel.html" %}

<!--If else -->
<div class="section-login my-3">
    {% if isLogin == true %}
    <p>Xin chào người dùng đã đăng nhập!</p>
    {% else %}
    <p>Bạn vui lòng đăng nhập!</p>
    {% endif %}
</div>

<!--Vòng lặp qua đối tượng content-->
<div class="section-for-twig mb-3">
    Vòng lặp qua đối tượng bằng twig
    <ul>
        {% for ani in animals %}
            <li>{{ ani }}</li>
        {% endfor %}
    </ul>
</div>


<!--Sử dụng content | raw khi muốn export ra html-->
<div class="section-content mb-3">
    Nội dung của content
    {{ content | raw }}
</div>

{% include "./template/footer.html" %}

{% endblock %}


