
    <!-- <header>
        <div class="icon__menu">
            <i class="fas fa-bars" id="btn_open"></i>
        </div>
    </header> -->

    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bx-menu' id="btn" ></i>
        </div>
        <ul class="nav-list">
            {% for item in navItems%}
                {% if path == item.navHref %}
                <li>
                    <a href="{{item.navHref}}" class="selected">
                        <i class='{{item.icon}}' ></i>
                        <span class="links_name">{{ item.navContent }}}</span>
                    </a>
                    <span class="tooltip">{{item.navContent}}</span>
                </li>
                {% else %}
                <li>
                    <a href="{{item.navHref}}">
                        <i class='{{item.icon}}' ></i>
                        <span class="links_name">{{ item.navContent }}}</span>
                    </a>
                    <span class="tooltip">{{item.navContent}}</span>
                </li>
                {% endif %}
            {% endfor %}

         <li class="profile">
             <div class="profile-details">
               <img src="/assets/adminImage.png" alt="profileImg">
               <div class="name_job">
                 <div class="name">{{user.fullName}}</div>
                 <div class="job">{{ user.isAdmin ? "Quản lý":"Khánh hàng"}}</div>
               </div>
             </div>
             <i class='bx bx-log-out' id="log_out"></i>
         </li>
        </ul>
      </div>
 
<script>
  $("#AdminShowTime").click(function () {
                
                $.ajax({
                    url: "/adminShowTime",
                    method: "GET",
                    data: {
                       
                    },
                    success: function (res) {
                        console.log(res);
                        $("#container").html(res);
                    },

                })
            })
</script>