{% extends './template/root.html' %}
{% block header %}
<!-- Latest compiled and minified CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="/css/navAdmin.css">
<link rel="stylesheet" href="/css/admin_booking.css">
<link rel="stylesheet" href="/css/profile.css">
{% endblock %}

{% block title %}
Trang quản lý đơn hàng
{% endblock %}

{% block body %}
{{ navbar | raw }}
{{ navAdmin | raw }}
<div id="admin-thongke" class="d-flex w-100 py-4 flex-column" style="padding-left: 92px;">
    <div class="content px-3 py-2">
        <div class="wrapper bg-white" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; padding: 24px 24px; border-radius: 16px; min-height: 80vh;">
            <h4 class="admin-header">
                Quản lý đơn hàng
            </h4>
            <form action="/adminDonHang" method="get" class="d-flex align-items-end" style="gap: 15px; padding-bottom: 20px;">
                <div class="px-0 d-flex col-4 position-relative">
                    <span class="position-absolute" style="left: 15px; top: 50%; transform: translateY(-50%)"><i class="bi bi-search"></i></span>
                    <input type="text" class="form-control" placeholder="Tìm kiếm đơn hàng" aria-label="Username" aria-describedby="basic-addon1" style="border-radius: 8px; padding-left: 38px" name="search" value="{{search}}">
                </div>
                <input type="submit" class="btn btn-primary" value="Tìm kiếm">

            
                <div class="input-group col-4 d-flex" style="gap: 15px">
                    <div class="">
                        <label for="fromDate" class="form-label">Từ ngày</label>
                        <input type="date" class="form-control" name="fromDate" id="fromDate" aria-describedby="helpId" placeholder="" value="{{fromDate}}">
                    </div>
                    <div class="">
                        <label for="toDate" class="form-label" >Đến ngày</label>
                        <input type="date" class="form-control" name="toDate" id="toDate" aria-describedby="helpId" placeholder="" value="{{toDate}}">
                    </div>
                    <div class="d-flex align-items-end">
                        <input type="submit" class="btn btn-primary d-flex align-items-center" style="height: fit-content" value="Lọc">
                    </div>
                </div>

                <div class="select-group col-4 d-flex align-item-center" style="gap: 15px;">
                    <div>
                        <label for="arrangeBy" class="form-label">Sắp xếp theo</label>
                        <select name="arrangeBy" id="arrangeBy" class="form-control">
                            {% if arrangeBy == 'bookingID' %}
                            <option value="bookingID" selected>Mã hóa đơn</option>
                            <option value="bookName">Tên người đặt</option>
                            <option value="bookEmail">Email</option>
                            <option value="bookTime">Ngày đặt</option>
                            <option value="bookMovie">Tên phim</option>
                            <option value="bookCinema">Rạp phim</option>
                            {% elseif arrangeBy == 'bookName' %}
                            <option value="bookingID">Mã hóa đơn</option>
                            <option value="bookName" selected>Tên người đặt</option>
                            <option value="bookEmail">Email</option>
                            <option value="bookTime">Ngày đặt</option>
                            <option value="bookMovie">Tên phim</option>
                            <option value="bookCinema">Rạp phim</option>
                            {% elseif arrangeBy == 'bookEmail' %}
                            <option value="bookingID">Mã hóa đơn</option>
                            <option value="bookName">Tên người đặt</option>
                            <option value="bookEmail" selected>Email</option>
                            <option value="bookTime">Ngày đặt</option>
                            <option value="bookMovie">Tên phim</option>
                            <option value="bookCinema">Rạp phim</option>
                            {% elseif arrangeBy == 'bookTime' %}
                            <option value="bookingID">Mã hóa đơn</option>
                            <option value="bookName">Tên người đặt</option>
                            <option value="bookEmail">Email</option>
                            <option value="bookTime" selected>Ngày đặt</option>
                            <option value="bookMovie">Tên phim</option>
                            <option value="bookCinema">Rạp phim</option>
                            {% elseif arrangeBy == 'bookMovie' %}
                            <option value="bookingID">Mã hóa đơn</option>
                            <option value="bookName">Tên người đặt</option>
                            <option value="bookEmail">Email</option>
                            <option value="bookTime">Ngày đặt</option>
                            <option value="bookMovie" selected>Tên phim</option>
                            <option value="bookCinema">Rạp phim</option>
                            {% elseif arrangeBy == 'bookCinema' %}
                            <option value="bookingID">Mã hóa đơn</option>
                            <option value="bookName">Tên người đặt</option>
                            <option value="bookEmail">Email</option>
                            <option value="bookTime">Ngày đặt</option>
                            <option value="bookMovie">Tên phim</option>
                            <option value="bookCinema" selected>Rạp phim</option>
                            {% endif %}

                            
                        </select>
                    </div>
                        
                    <div>
                        <label for="orderBy" class="form-label">Thứ tự</label>
                        <select name="orderBy" id="orderBy" class="form-control">
                            {% if orderBy == 'ASC' %}
                            <option value="ASC" selected>Tăng dần</option>
                            <option value="DESC">Giảm dần</option>
                            {% elseif orderBy == 'DESC' %}
                            <option value="ASC">Tăng dần</option>
                            <option value="DESC" selected>Giảm dần</option>
                            {% endif %}
                        </select>
                    </div>

                    <div class="d-flex align-items-end">
                        <input type="submit" class="btn btn-primary d-flex align-items-center" style="height: fit-content" value="Sắp xếp">
                    </div>
                </div>
            </form>
                
            <div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Mã đơn hàng</th>
                        <th scope="col">Tên người đặt hàng</th>
                        <th scope="col">Email người đặt</th>
                        <th scope="col">Ngày đặt hàng</th>
                        <th scope="col">Số vé</th>
                        <th scope="col">Thức ăn</th>
                        <th scope="col">Phim</th>
                        <th scope="col">Rạp phim</th>
                        <th scope="col">Tổng tiền</th>                        
                        <th scope="col">Tình trạng</th>                        
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                    <tr class="row-booking" bookingID="{{order.bookingID}}" isPaid="{{order.isPaid}}" onclick="viewDetailBooking(this)">
                        <td>{{ order.bookingID }}</td>
                        <td>{{ order.bookName }}</td>
                        <td>{{ order.bookEmail }}</td>
                        <td>{{ order.bookTime|split(' ')[0] }}</td>
                        <td>{{ order.seatNum }}</td>
                        <td>{{ order.foodUnits }}</td>
                        <td>{{ order.movieName }}</td>
                        <td>{{ order.cinemaName }}</td>
                        <td>{{ (order.seatPrices + order.foodPrice)|number_format }}đ</td>
                        <td>
                            {% if order.isPaid == 'false' %}
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                            </div>
                            {% else %}
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                            </div>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if maxPage > 1 %}
                <form method="GET">
                    <nav class="d-flex justify-content-center" aria-label="...">
                        <ul class="pagination">
                            {% if activePage == 1 %}
                            <li class="page-item disabled">
                                <button class="page-link" type="submit" name="page" value="{{activePage}}">Trước</button>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <button class="page-link" type="submit" name="page" value="{{activePage-1}}" >Trước</button>
                            </li>
                            {% endif %}

                            {% for i in range (1, maxPage) %}
                                {% if i == activePage %}
                                    <li class="page-item active">
                                        <button class="page-link" type="submit" name="page" value="{{i}}">{{i}}</button>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <button class="page-link" type="submit" name="page" value="{{i}}">{{i}}</button>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if activePage == maxPage %}
                            <li class="page-item disabled">
                                <button class="page-link" type="submit" name="page" value="{{activePage}}">Sau</button>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <button class="page-link" type="submit" name="page" value="{{activePage + 1}}">Sau</button>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="popUp-container" style="display: none;">
    <div class="detail-booking">
        <div class="left">
            <div class="header-booking bold up-text" id="cinema-name"></div>
            <img src="/assets/qrcode.jpg" alt="" srcset="" id="movie-image">
        </div>
        <div class="right">
            <div class="movie-name">
                <div class="name fl-r-center w-100 bold mg-t-40" id="movie-name"></div>
            </div>
            <div class="room-name fl-r-sp-btw w-100 mg-t-20">
                <div class="title">Phòng chiếu</div>
                <div class="name bold w-220px fl-r-lf" id="room-name"></div>
            </div>
            <div class="seats-name fl-r-sp-btw w-100">
                <div class="title">Ghế</div>
                <div class="name bold w-220px fl-r-lf" id="seats-name"></div>
            </div>
            <div class="showtime fl-r-sp-btw w-100">
                <div class="title">Thời gian</div>
                <div class="name bold w-220px fl-r-lf" id="showtime"></div>
            </div>

            <div class="container-food mg-t-20">
                <div class="food-header up-text bold fl-r-center w-100">Food</div>
                <div class="table-hearder fl-r-sp-btw">
                    <div class="food-name tb-h bold">Tên combo</div>
                    <div class="food-quantity tb-h bold">SL</div>
                </div>
                <div class="content-food">
                    
                </div>
            </div>

            <div class="container-price w-100 t-bd-s mg-t-40">
                <div class="ticket-cost fl-r-sp-btw w-100">
                    <div class="title">Tiền ghế</div>
                    <div class="price bold" id="ticket-cost"></div>
                </div>

                <div class="food-cost fl-r-sp-btw w-100">
                    <div class="title">Tiền combo</div>
                    <div class="price bold" id="food-cost"></div>
                </div>

                <div class="total-cost fl-r-sp-btw w-100">
                    <div class="title">Tổng</div>
                    <div class="price bold" id="total-cost" style="color: red;"></div>
                </div>
            </div>
            <div class="status-booking mg-t-40 fl-r-center bold" style="font-style: italic;"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="/js/component/navAdmin.js"></script>
<script src="/js/page/profile.js"></script>
{% endblock %}