{% extends './template/root.html' %}
{% block header %}
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="/css/navAdmin.css">
{% endblock %}

{% block title %}
Trang quản lý đơn hàng
{% endblock %}

{% block body %}
{{ navbar | raw }}
{{ navAdmin | raw }}
<div id="admin-thongke" class="d-flex w-100 py-4 flex-column" style="padding-left: 92px;">
    <div class="content px-3 py-2">
        <div class="wrapper bg-white" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; padding: 24px 24px; border-radius: 16px; min-height: 80vh;">
            <h4 class="admin-header">
                Quản lý đơn hàng
            </h4>
            <div class="header-search d-flex align-items-center mb-3" style="gap: 15px">
                <div class="px-0 d-flex col-4 position-relative">
                    <span class="position-absolute" style="left: 15px; top: 50%; transform: translateY(-50%)"><i class="bi bi-search"></i></span>
                    <input type="text" class="form-control" placeholder="Tìm kiếm đơn hàng" aria-label="Username" aria-describedby="basic-addon1" style="border-radius: 8px; padding-left: 38px">
                </div>
                <button class="btn btn-primary">Tìm kiếm</button>
                <div class="input-group ml-auto col-4 d-flex" style="gap: 15px">
                    <div class="">
                      <label for="fromDate" class="form-label">Từ ngày</label>
                      <input type="date"
                        class="form-control" name="fromDate" id="fromDate" aria-describedby="helpId" placeholder="">
                    </div>
                    <div class="">
                        <label for="toDate" class="form-label">Đến ngày</label>
                        <input type="date" class="form-control" name="toDate" id="toDate" aria-describedby="helpId" placeholder="">
                    </div>
                    <div class="d-flex align-items-end">
                        <button type="submit" class="btn btn-primary d-flex align-items-center" style="height: fit-content">Lọc</button>
                    </div>
                </div>
            </div>
            <div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Mã đơn hàng</th>
                        <th scope="col">Tên người đặt hàng</th>
                        <th scope="col">Email người đặt</th>
                        <th scope="col">Ngày đặt hàng</th>
                        <th scope="col">Số vé</th>
                        <th scope="col">Thức ăn</th>
                        <th scope="col">Phim</th>
                        <th scope="col">Rạp phim</th>
                        <th scope="col">Tổng tiền</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.bookingID }}</td>
                        <td>{{ order.bookName }}</td>
                        <td>{{ order.bookEmail }}</td>
                        <td>{{ order.bookTime|split(' ')[0] }}</td>
                        <td>{{ order.seatNum }}</td>
                        <td>{{ order.foodUnits }}</td>
                        <td>{{ order.movieName }}</td>
                        <td>{{ order.cinemaName }}</td>
                        <td>{{ (order.seatPrices + order.foodPrice)|number_format }}đ</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if maxPage > 1 %}
                <form method="GET">
                    <nav class="d-flex justify-content-center" aria-label="...">
                        <ul class="pagination">
                            {% if activePage == 1 %}
                            <li class="page-item disabled">
                                <button class="page-link" type="submit" name="page" value="{{activePage}}">Trước</button>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <button class="page-link" type="submit" name="page" value="{{activePage-1}}" >Trước</button>
                            </li>
                            {% endif %}

                            {% for i in range (1, maxPage) %}
                                {% if i == activePage %}
                                    <li class="page-item active">
                                        <button class="page-link" type="submit" name="page" value="{{i}}">{{i}}</button>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <button class="page-link" type="submit" name="page" value="{{i}}">{{i}}</button>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if activePage == maxPage %}
                            <li class="page-item disabled">
                                <button class="page-link" type="submit" name="page" value="{{activePage}}">Sau</button>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <button class="page-link" type="submit" name="page" value="{{activePage + 1}}">Sau</button>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="/js/component/navAdmin.js"></script>
{% endblock %}