{% extends './template/root.html' %}
{% block header %}
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="/css/managerFilm.css">
<link rel="stylesheet" href="/css/navAdmin.css">

{% endblock %}

{% block title %}
Trang Admin Phim 
{% endblock %} 

{% block body %}
{{ navbar | raw }}
{{ navAdmin | raw }}


    <section class="home-section">
        <!-- <div class="text">Dashboard</div> -->

        <!--Header Tìm kiếm-->

        <div class="wrapper">
            <div class="text-managerFilm">QUẢN LÝ PHIM</div>
            <div class="search-box">
                <form >
                      <select name="searchType" class="default-option">
                          <option value="0">Tên phim</option>
                          <option value="1">Thể loại</option>
                          <option value="2">Độ tuổi</option>
                      </select>
                
                  <div class="search-field">
                      <input type="text" class="input" id="searchValue" name="searchValue" placeholder="Tìm kiếm" value="{{ searchValue }}">
                      <i class='bx bx-search-alt' id="search-icon"></i>
                  </div>
                </form>
          </div>
            <button class="add-film btn-primary btn">Thêm phim</button>
        </div>
        
        <!--Table-->

        <div class="table-Film">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>TÊN PHIM</th>
                        <th>POSTER LINK</th>
                        <th>ĐẠO DIỄN</th>
                        <th>FEATURE</th>
                        <th>HÀNH ĐỘNG</th>
                    </tr>
                </thead>
                <tbody>
                    {% for movie in paginatedMovies %}
                    <tr >
                        <td>{{movie.movieID}}</td>
                        <td>{{movie.movieName}}</td>
                        <td><img src="https://themoviedb.org/t/p/w600_and_h900_bestv2/{{movie.posterLink}}"></td>
                        <td>{{movie.movieDirectors}}</td>

                        <td><input type="checkbox" id="checkboxNoLabel" value="" aria-label="..."{% if movie.isFeatured %}checked{% endif %} ></td>
                        <td>
                            <i class='bx bx-edit edit-film' id="{{movie.movieID}}"></i>
                            <i class='bx bxs-trash-alt deleteFilm' id="{{movie.movieID}}"></i>
                        </td>
                    </tr>
                    {% endfor %}
                  
                 
                </tbody>
            </table>
        </div>

        <!--Navigation-->

      <!-- Navigation -->
        <nav aria-label="Page navigation example" style="display: flex; align-items: center; justify-content: center; margin-top: 10px;">
          <ul class="pagination">
              {% if currentPage > 1 %}
                  <li class="page-item">
                      <a class="page-link" href="?page=1&searchType={{ searchType }}&searchValue={{ searchValue }}" aria-label="First">
                          <span aria-hidden="true">&laquo;&laquo;</span>
                      </a>
                  </li>
                  <!-- <li class="page-item">
                      <a class="page-link" href="?page={{ currentPage - 1 }}" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                      </a>
                  </li> -->
              {% else %}
                  <li class="page-item disabled">
                      <span class="page-link" aria-hidden="true">&laquo;&laquo;</span>
                  </li>
                  <!-- <li class="page-item disabled">
                      <span class="page-link" aria-hidden="true">&laquo;</span>
                  </li> -->
              {% endif %}

              {% for page in navigationRange %}
                  <li class="page-item {% if page == currentPage %}active{% endif %}">
                      <a class="page-link" href="?page={{ page }}&searchType={{ searchType }}&searchValue={{ searchValue }}">{{ page }}</a>
                  </li>
              {% endfor %}

              {% if currentPage < totalPages %}
                  <!-- <li class="page-item">
                      <a class="page-link" href="?page={{ currentPage + 1 }}" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                      </a>
                  </li> -->
                  <li class="page-item">
                      <a class="page-link" href="?page={{ totalPages }}&searchType={{ searchType }}&searchValue={{ searchValue }}" aria-label="Last">
                          <span aria-hidden="true">&raquo;&raquo;</span>
                      </a>
                  </li>
              {% else %}
                  <!-- <li class="page-item disabled">
                      <span class="page-link" aria-hidden="true">&raquo;</span>
                  </li> -->
                  <li class="page-item disabled">
                      <span class="page-link" aria-hidden="true">&raquo;&raquo;</span>
                  </li>
              {% endif %}
          </ul>
        </nav>


        <!-- Modal Delete-->

        <div class="modal modal-delete" tabindex="-1" role="dialog" >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Xóa Phim</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Bạn có chắc chắn xóa !!!</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger">Xác nhận</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
              </div>
            </div>
          </div>

        <!-- Modal ADD-->
          
            <div class="containerFilmAdd" id="Add" >
                <div class="modalAddFilm">
                    <form  method="post" enctype="multipart/form-data">
                      <div class="half-input">
                          <div class="form-group">
                            <label for="name-movie">Tên phim:</label>
                            <input type="text" class="form-control" id="name-movie-add" name="name-movie-add" placeholder="Nhập tên phim">
                          </div>
                          <div class="form-group">
                            <label for="des-movie">Mô tả:</label>
                            <textarea class="form-control" id="des-movie" rows="3" placeholder="Nhập mô tả chi tiết"></textarea>
                          </div>
                      </div>
                      <div class="half-input">
                            <div class="form-group">
                              <!-- <label for="poster-link">Post Link:</label>
                              <br>
                              <input type="file" accept="image/*" class="" id="poster-link" name="poster-link" placeholder="Nhập posterLink"> -->
                              <div style="font-weight: bold;">Ảnh poster:</div>
                              <br>
                              <label for="poster-link"><img style="height: 300px; width: 200px;"  class="" id="poster-link-img" name="poster-link-img"></label>
                              <input type="file" accept="image/*" class="d-none" id="poster-link" name="poster-link" placeholder="Nhập posterLink" onchange="previewImage('poster-link', 'poster-link-img')">
                            </div>
                            <div class="form-group">
                              <!-- <label for="landscape-poster">Landscape Poster:</label>
                              <input type="file" accept="image/*" class="" id="landscape-poster" name="landscape-poster" placeholder="Nhập poster"> -->
                              <div style="font-weight: bold;">Ảnh Landscape:</div>
                              <br>
                              <label for="landscape-poster"><img style="height: 200px; width: 330px;"  class="" id="landscape-poster-img" name="landscape-poster-img"></label>
                              <input type="file" accept="image/*" class="d-none" id="landscape-poster" name="landscape-poster" placeholder="Nhập Landspace" onchange="previewImage('landscape-poster', 'landscape-poster-img')">
                            </div>
                      </div>
                      <!-- <div class="half-input">
                        <div class="form-group">
                            <label for="landscape-poster-img-add">Ảnh Poster</label>
                            <br> 
                            <img style="height: 300px; width: 200px;"  class="" id="poster-link-img-add" name="poster-link-img-add">
                        </div>
                        <div class="form-group">
                            <label for="landscape-poster-img-add">Ảnh Landscape</label>
                            <img style="height: 200px; width: 330px;" class="" id="landscape-poster-img-add" name="landscape-poster-img-add">
                        </div>
                    </div> -->
                      
                      <div class="half-input">
                            <div class="form-group">
                              <label for="trailer-link">Trailer link:</label>
                              <input type="text" class="form-control" id="trailer-link" placeholder="Nhập link">
                            </div>
                            <div class="form-group">
                              <label for="directors">Tên đạo diễn:</label>
                              <input type="text" class="form-control" id="directors" placeholder="Nhập tên">
                            </div>
                      </div>
            
                      <div class="half-input">
                        <div class="form-group">
                          <label for="actors">Diễn viên:</label>
                          <input type="text" class="form-control " id="actors" placeholder="Nhập tên các diễn viên">
                        </div>
                        <div class="form-group">
                          <label for="during-time">Thời gian diễn ra:</label>
                          <input type="number" class="form-control " id="during-time" placeholder="Nhập thời gian">
                        </div>
                      </div>
                      
                      <div class="half-input">
                        <div class="form-group">
                          <label for="datepicker">Ngày chiếu:</label>
                          <input style= "z-index: 2000;"type="date" class="form-control datepicker" id="datepicker" placeholder="Chọn ngày chiếu">
                        </div>
                        <div class="form-group">
                          <label for="language">Ngôn ngữ</label>
                          <input type="timepicker" class="form-control " id="language" placeholder="Nhập ngôn ngữ trong phim">
                        </div>
                      </div>

                      <div class="half-input">
                        <div class="form-group ">
                          <label for="feature">Feature:</label>
                          <!-- <input style="display: flex; transform: scale(1.5); margin-left: 10px;" type="checkbox"  id="feature"> -->
                          <div class="custom-control custom-switch">
                   
                            <input type="checkbox" class="custom-control-input" id="customSwitches">
                            <label class="custom-control-label" style="transform: scale(1.2);margin-left: 10px;font-weight: normal;"for="customSwitches">Thêm vào carousel</label>
                          </div>

                        </div>
                          <div class="form-group ">
                            <label for="tagID">Độ tuổi thấp nhất được xem:</label>
                            <select class="form-control" id="{{ tagID }}" name="tagID">
                              {% for tag in listTags %}
                                  <option value="{{ tag.tagID }}">{{tag.minAge}}</option>
                              {% endfor %}
                          </select>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="the-loai">Thể loại:</label>
                        <div class="quartern-input">
                        {% for category in listCategory %}
                            <div class="form-check">
                              <input class="form-check-input checkboxCategoryAdd"  type="checkbox" value="" id="{{category.categoryID}}">
                              <label class="form-check-label" for="flexCheckDefault">
                                {{category.cateName}}
                              </label>
                            </div>
                       {% endfor %}
                        </div>

                      </div>
                      
                      
                     
                      <button type="submit" class="btn btn-primary" id="btnAddFilm">Thêm phim</button>
                    </form>
                </div>
                
            </div>
              

        <!-- Modal Edit  -->

            <div class="containerFilmAdd" id="Edit">
            <div class="modalAddFilm">
                <form  enctype="multipart/form-data">
                    <div class="half-input">
                        <div class="form-group">
                        <label for="name-movie-edit">Tên phim:</label>
                        <input type="text" class="form-control" id="name-movie-edit" placeholder="Nhập tên phim">
                        </div>
                        <div class="form-group">
                        <label for="des-movie-edit">Mô tả:</label>
                        <textarea class="form-control" id="des-movie-edit" rows="3" placeholder="Nhập mô tả chi tiết"></textarea>
                        </div>
                    </div>
                    <div class="half-input">
                        <div class="form-group">
                            <div style="font-weight: bold;">Ảnh poster:</div>
                            <br>
                            <label for="poster-link-edit"><img style="height: 300px; width: 200px;"  class="" id="poster-link-img-edit" name="poster-link-img-edit"></label>
                            <input type="file" accept="image/*" class="d-none" id="poster-link-edit" name="poster-link-edit" placeholder="Nhập posterLink" onchange="previewImage('poster-link-edit', 'poster-link-img-edit')">
                        </div>
                        <div class="form-group">
                          <div style="font-weight: bold;">Ảnh landscape:</div>
                          <br>
                          <label for="landscape-poster-edit"><img style="height: 200px; width: 330px;" class="" id="landscape-poster-img-edit" name="landscape-poster-img-edit"></label>
                            <input type="file" accept="image/*" class="d-none" id="landscape-poster-edit" name="landscape-poster-edit" placeholder="Nhập poster" onchange="previewImage('landscape-poster-edit', 'landscape-poster-img-edit')" >
                        </div>
                    </div>
                    <div class="half-input">
                        <div class="form-group">
                            <label for="trailer-link-edit">Trailer link:</label>
                            <input type="text" class="form-control" id="trailer-link-edit" placeholder="Nhập link">
                        </div>
                        <div class="form-group">
                            <label for="directors-edit">Tên đạo diễn:</label>
                            <input type="text" class="form-control" id="directors-edit" placeholder="Nhập tên">
                        </div>
                    </div>
        
                    <div class="half-input">
                    <div class="form-group">
                        <label for="actors-edit">Diễn viên:</label>
                        <input type="text" class="form-control " id="actors-edit" placeholder="Nhập tên các diễn viên">
                    </div>
                    <div class="form-group">
                        <label for="during-time-edit">Thời gian diễn ra:</label>
                        <input type="number" class="form-control " id="during-time-edit" placeholder="Nhập thời gian">
                    </div>
                    </div>
                    
                    <div class="half-input">
                    <div class="form-group">
                        <label for="datepicker-edit">Ngày chiếu:</label>
                        <input style= "z-index: 2000;"type="date" class="form-control datepicker" id="datepicker-edit" placeholder="Chọn ngày chiếu">
                    </div>
                    <div class="form-group">
                        <label for="language-edit">Ngôn ngữ</label>
                        <input type="text" class="form-control " id="language-edit" placeholder="Nhập ngôn ngữ trong phim">
                    </div>
                    </div>

                    <div class="half-input">
                    <div class="form-group ">
                        <label for="customSwitches-edit">Feature:</label>
                        <!-- <input style="display: flex; transform: scale(1.5); margin-left: 10px;" type="checkbox"  id="feature"> -->
                        <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitches-edit">
                        <label class="custom-control-label" style="transform: scale(1.2);margin-left: 10px;font-weight: normal;"for="customSwitches">Thêm vào carousel</label>
                        </div>

                    </div>
                    <div class="form-group ">
                        <label for="tagID-edit">Độ tuổi thấp nhất được xem:</label>
                        <select class="form-control" id="tagID-edit" name="tagID-edit">
                          {% for tag in listTags %}
                              <option value="{{ tag.minAge }}">{{tag.minAge}}</option>
                          {% endfor %}
                      </select>
                    </div>
                    
                    </div>

                    <div class="form-group">
                    <label for="the-loai">Thể loại:</label>
                    <!-- <select class="form-control" id="the-loai">
                        <option>Hành động</option>
                        <option>Viễn tưởng</option>
                        <option>Tình cảm</option>
                    </select> -->
                    <div class="quartern-input">
                          {% for category in listCategory %}
                          <div class="form-check">
                            <input class="form-check-input checkboxCategoryEdit"  type="checkbox" value="" id="{{category.categoryID}}">
                            <label class="form-check-label" for="flexCheckDefault">
                              {{category.cateName}}
                            </label>
                          </div>
                        {% endfor %}
                    </div>
                    
                    
                
                    <button type="submit" class="btn btn-primary" id="btnEditFilm">Sửa phim</button>
                </form>
            </div>
            
            </div>

        <!-- Modal Thông Báo -->    

        <!-- <div class="containerFilmAdd" id="Notification">
          <div class="container_otp">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <h4>Đang gửi yêu cầu ...</h4>
        </div>
        </div>
    </section> -->



{% endblock %}

{% block js %}
<script src="/js/component/navAdmin.js"></script>
<script src="/js/page/managerFilm.js"></script>

{% endblock %}

