{% extends './template/root.html' %}
{% block header %}
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="/css/managerFilm.css">

<link rel="stylesheet" href="/css/navAdmin.css">
{% endblock %}

{% block title %}
Trang Admin Phim 
{% endblock %} 

{% block body %}
{{ navbar | raw }}
{{ navAdmin | raw }}
    <section class="home-section">
        <!-- <div class="text">Dashboard</div> -->
        <div class="wrapper">
            <div class="search-box">
                <div class="dropdown">
                    <div class="default-option">Tất cả</div>
                        <ul>
                            <li>Tất cả</li>
                            <li>Thể loại</li>
                            <li>Độ tuổi</li>
                            <li>Rating</li>
                            <li>Rạp</li>
                        </ul>
                </div>
                <div class="search-field">
                    <input type="text" class="input" placeholder="Tìm kiếm">
                    <i class='bx bx-search-alt' ></i>
                 
                </div>
            </div>
            <button class="add-film">Thêm phim</button>
        </div>
        


        <div class="table-Film">
            
        </div>
    </section>




{% endblock %}

{% block js %}
<script src="/js/component/navAdmin.js"></script>

<script> 
        $(document).ready(function(){
            $(".default-option").click(function(){
                $(".dropdown ul").toggleClass("active");
            });

            $(".dropdown ul li").click(function(){
                var text = $(this).text();
                $(".default-option").text(text);
                $(".dropdown ul").removeClass("active");
            });
        });

        
</script>
   
{% endblock %}