.title{
    font-weight: bold;
}
.container-input{
    margin-bottom: 35px;
}
.container-button{
    text-align: end;
    margin-right: 10%;
}
.column{
    width: 45%;
}
.button{
 width: 20%;
 margin-right: 10px;   
}
.input{
    width: 100%;
}