.movie-image{
    width: 30px;
    height: 30px;
}

.text-hide{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.text-nowrap{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
}

.pointer-cursor{
    cursor: pointer;
}