/*------------------- Carousel Header JS -----------------*/
.hot-title{
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
}

.hot-title::before{
    content: "";
    width: 50%;
    height: 3px;
    position: absolute;
    left: -55%;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
}

.hot-title::after{
    content: "";
    width: 50%;
    height: 3px;
    position: absolute;
    right: -55%;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
}

.carousel-container{
    background-image: url("/assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.owl-stage-outer{
    padding: 4rem 0rem;
    position: relative;
}

.owl-item{
    /*width: 400px;*/
    /*max-height: 375px;*/
    border-radius: 20px;
    transition: all 0.8s;
}

.img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.owl-item.center{
    transform: scale(1.2) !important;
    transition: all 0.8s;
}

.owl-prev, .owl-next{
    position: absolute;
    background-color: #0275d8 !important;
    width: 40px;
    height: 40px;
    color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    transform: translateY(-50%);
    outline: none !important;
}

.owl-prev > span, .owl-next >span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-59%);
    font-size: 40px;
}

.owl-prev{
    left: 30px;
    top: 50%;
}

.owl-next{
    right: 30px;
    top: 50%;
}