.card{
    flex-basis: calc((100% - 20*3px)/4) ;
}

@media only screen and (max-width: 992px) {
    .card{
        flex-basis: calc((100% - 20*2px)/3) ;
    }
}

@media only screen and (max-width: 768px) {
    .card{
        flex-basis: calc((100% - 20*1px)/2) ;
    }
}

@media only screen and (max-width: 312px) {
    .card{
        flex-basis: 100% ;
    }
}

/*@media only screen and (max-width: 312px) {*/
/*    .card{*/
/*        flex-basis: calc((100% - 20*1px)/2) ;*/
/*    }*/
/*}*/