.title {
    font-weight: bold;
    width: 33%;
}
html {
    scroll-behavior: smooth;
  }


.time-showing::before {
    content: "";
    width: 25%;
    height: 3px;
    position: absolute;
    right: 60%;
    bottom: 40%;
    background-color: rgb(4, 49, 251);
}

.time-showing::after {
    content: "";
    width: 25%;
    height: 3px;
    position: absolute;
    left: 60%;
    bottom: 40%;
    background-color: rgb(4, 49, 251);
}

.time-showing {
    position: relative;
    padding-top: 30px;
}
.btn{
    width: 25%;
}
.active{
    background-color: green;
    transition: background-color 50ms linear
   
}
.hover{
    background-color: green;
    transition: 0.5s ease;
   
}