/* Import Google font - Poppins */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */


/* body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4070f4;
} */

:where(.container_otp, .header_otp, .input-field_otp) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bx{
  display: flex!important;
}

.container_otp {
  background: #fff;
  padding: 30px 65px;
  border-radius: 12px;
  row-gap: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.container_otp .header_otp {
  height: 65px;
  width: 65px;
  background: #0e4bf1;
  color: #fff;
  font-size: 2.5rem;
  border-radius: 50%;
}
.container_otp h4 {
  font-size: 1.25rem;
  color: #333;
  font-weight: 500;
}
 .input-field_otp {
  flex-direction: row;
  column-gap: 10px;
}
.input-field_otp input {
  height: 45px;
  width: 42px;
  border-radius: 6px;
  outline: none;
  font-size: 1.125rem;
  text-align: center;
  border: 1px solid #ddd;
}

.input-field_changePassword{
  flex-direction: column;
  row-gap: 10px;
}

.input-field_changePassword input {
  height: 40px;
  width: 420px;
  border-radius: 10px;
  outline: none;
  font-size: 1.125rem;
  text-align: center;
  border: 1px solid #ddd;
}

.input-field_otp input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.input-field_otp input::-webkit-inner-spin-button,
.input-field_otp input::-webkit-outer-spin-button {
  display: none;
}
 #btnConfirm {
  margin-top: 25px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  border: none;
  padding: 9px 0;
  cursor: pointer;
  border-radius: 6px;
  pointer-events: none;
  background: #6e93f7;
  transition: all 0.2s ease;
}
 #btnConfirm.active {
  background: #4070f4;
  pointer-events: auto;
}
 #btnConfirm:hover {
  background: #0e4bf1;
}


.modal {
  
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  align-items: center;
  justify-content: center;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(220, 226, 229, 0.633); /* Black w/ opacity */
}

/* .portOTP.active{
  display: none;
}

.portOTP{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c1c5d2;
} */


/*Change Password*/
.modalChangePassword {
  
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  align-items: center;
  justify-content: center;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(220, 226, 229, 0.633); /* Black w/ opacity */
}

#btnConfirmOTP {
  margin-top: 35px;
}
