.payment-box{
    width: 100%;
    margin-top: 40px;
    padding-bottom: 100px;
    box-shadow: 0px 0px 20px 0px;
    display: flex;
    justify-content: space-between;
}

.payment-box .method-payment{
    /* border-bottom: 1px solid black; */
    width: 50%;
}

.payment-box .top-title{
    width: 100%;
    text-transform: uppercase;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    /* border: 1px solid black; */
}

.payment-box .methods{
    margin-top: 20px;
    padding-left: 10%;
}

.payment-box .agree-checkbox{
    display: flex;
    align-items: baseline;
    padding-left: 5%;
}

.payment-box .one-method,
.payment-box .one-method label{
    display: flex;
    align-items: center;
}

.payment-box .one-method{
    margin: 0.5rem 0;
}

.payment-box .one-method label {
    
}

.payment-box .one-method label .logo-image{
    width: 30px;
    margin: 0 5px;
}

.payment-box .logo-image img{
    width: 100%;
}

.payment-box .info-payment{
    width: 50%;
    background-color: rgb(231, 231, 230);
    /* border-bottom: 1px solid black; */
}

.info-payment .main-info{
    padding-left: 10%;
    padding-top: 20px;
}

.info-payment .main-info > div{
    margin: 5px 0;
    display: flex;
}

.info-payment .main-info .title{
    width: 80px;
}

.info-payment .main-info .content{
    font-weight: bold;
    max-width: 80%;
}

.info-payment .price-booking{
    padding: 0 10%;
}

.info-payment .price-booking .title-payment{

    width: 60%;
    margin-left: 20px;
    background-color: #007bff;
    transform: translateY(50%);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.border-container{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 15px;
}

.price-booking .content-payment{
    border: 3px dashed #007bff !important;
    padding-top: 40px;
    padding-left: 10%;
    margin-bottom: 20px;
}

.price-booking .content-payment div{
    display: flex;
    justify-content: space-between;
}

.price-booking .content-payment .title{
    width: 80px;
}

.price-booking .content-payment .content{
    color: red;
    font-weight: bold;
}