#profile{
    padding: 2rem 4rem;
    background-color: #F8FAFB;
}

/*.profile-background{*/
/*    margin: 0 1rem;*/
/*    border-radius: 15px;*/
/*}*/

.profile-header{
    border-radius: 15px 15px 0 0;
    background-image: url('https://img.freepik.com/free-vector/graduation-blue-background_23-2149354160.jpg?w=900&t=st=1683178504~exp=1683179104~hmac=893e50488add91bc98ef0e8fd9502f6934cb59ff55c8e6e38affe6bbf1af2d21');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-body{
    border-radius: 0 0 15px 15px;
}

.profile-header-bg{
    width: 100%;
    height: 200px;
}

.profile-body-bg{
    padding-top: 70px;
    border-radius: 15px;
}

.absolute-group{
    bottom: 0;
    left: 20px;
    transform: translateY(50%);
}

.profile-avatar{
    /*bottom: 0;*/
    /*left: 20px;*/
    /*transform: translateY(50%);*/
    width: 120px;
    height: 120px;
    border: 5px solid white;
}

.profile-name{
    width: 200px;
    left: 110%;
    bottom: 20px;
    transform: translateY(80%);
}

/*------------------------------------*/
.order-item{
    display: flex;
    gap: 20px;
    margin: 12px 0;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
}

.order-item:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 20px;
    transform: translateX(5px);
    /* transform: translateY(-20px); */
    transition: 0.2s ease-in;
}

.order-img{
    width: 120px;
    aspect-ratio: 6/9;
}

.popUp-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #534f4f66;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.popUp-container .detail-booking{
    width: 320px;
    background-color: white;
    position: relative;
    padding: 20px 15px;
    border-radius: 10px;
}

.popUp-container .detail-booking .left{
    
    display: flex;
    justify-content: space-between;
}

.popUp-container .detail-booking img{
    width: 80px;
}

.popUp-container .left .header-booking{
    width: calc(100% - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.bold{
    font-weight: bold;
}

.fl-r-sp-btw{
    display: flex;
    justify-content: space-between;
}

.fl-r-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.up-text{
    text-transform: uppercase;
}

.w-40px{
   width: 40px;
}

.w-20px{
    width: 20px;
 }

.w-260px{
    width: 260px;
}

.w-220px{
    width: 200px;
}

.t-bd{
    border-top: 1px dotted black;
}

.t-bd-s{
    border-top: 2px solid black;
}

.mg-t-20{
    margin-top: 20px;
}

.mg-t-40{
    margin-top: 40px;
}

.fl-r-lf{
    display: flex;
    justify-content:flex-end;
    align-items: center;
}