{% extends './template/root.html' %}
{% block header %}
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/carousel.css">
<link rel="stylesheet" href="/css/owl.carousel.min.css">
<link rel="stylesheet" href="/css/owl.theme.default.min.css">
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/component/CarouselHeader.js"></script>
{% endblock %}

{% block title %}
Trang chủ - Đặt vé xem phim online
{% endblock %}

{% block body %}
    {{ navbar | raw }}
    <carousel-header list="{{ listMovie }}"></carousel-header>
{% endblock %}

{% block js %}
<script src="/js/page/home.js"></script>
{% endblock %}