{% extends './template/root.html' %}
{% block header %}
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/carousel.css">
<link rel="stylesheet" href="/css/owl.carousel.min.css">
<link rel="stylesheet" href="/css/owl.theme.default.min.css">
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/component/CarouselHeader.js"></script>
{% endblock %}

{% block title %}
Trang chủ - Đặt vé xem phim online
{% endblock %}

{% block body %}
    {{ navbar | raw }}
    <carousel-header list="{{ listMovie }}"></carousel-header>
    <div class="container">
        <div class="movie-section mt-4 px-5 py-4 bg-light">
            <div class="movie-section-header d-flex justify-content-between align-items-center mb-3">
                <h4><i class="bi bi-tv text-success"></i> Phim đang chiếu</h4>
                <a class="text-decoration-none font-weight-normal" href="/movies">Xem thêm</a>
            </div>
            <div class="movie-section-body d-flex flex-no-wrap position-relative" style="gap: 30px 30px; overflow-x: hidden">
                <div class="next-movie-section position-absolute" style="top: 50%; right: 0;">
                    <i class="bi bi-arrow-right"></i>
                </div>
                <div class="prev-movie-section position-absolute" style="top: 50%; left: 0;">
                    <i class="bi bi-arrow-left"></i>
                </div>
                <div class="movie-item">
                    <div class="img-container position-relative">
                        <img class="custom-round" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/gRlfFcpPdjREQ3lgeuAuB10gfbR.jpg" style="width: 100%; height: 100%">
                        <div class="position-absolute bg-white text-danger font-weight-bold px-1 rounded" style="right: 10px; top: 10px; font-size: 0.8rem">
                            18+
                        </div>
                    </div>
                    <h5 class="mt-3 mb-0 text-movie-title">Anh em mario</h5>
                    <p class="text-muted">Hành động, hài hước</p>
                    <a class="btn text-white font-weight custom-round w-100" style="background-color: #E64545" href="/movies">
                        <i class="bi bi-cart3 mr-1"></i>
                        Mua vé
                    </a>
                </div>
                <div class="movie-item">
                    <div class="img-container position-relative">
                        <img class="custom-round" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/jGmC7aMqoLU0ALRKHkz3pQVV1pg.jpg" style="width: 100%; height: 100%">
                        <div class="position-absolute bg-white text-danger font-weight-bold px-1 rounded" style="right: 10px; top: 10px; font-size: 0.8rem">
                            18+
                        </div>
                    </div>
                    <h5 class="mt-3 mb-0 text-movie-title">Avatar: Dòng chảy của</h5>
                    <p class="text-muted">Hành động, hài hước</p>
                    <a class="btn text-white font-weight custom-round w-100" style="background-color: #E64545" href="/movies">
                        <i class="bi bi-cart3 mr-1"></i>
                        Mua vé
                    </a>
                </div>
                <div class="movie-item">
                    <div class="img-container position-relative">
                        <img class="custom-round" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/1AiVQ2ybXKUYgxJ9buJLWNpdTZs.jpg" style="width: 100%; height: 100%">
                        <div class="position-absolute bg-white text-danger font-weight-bold px-1 rounded" style="right: 10px; top: 10px; font-size: 0.8rem">
                            18+
                        </div>
                    </div>
                    <h5 class="mt-3 mb-0 text-movie-title">Trận chiến thời tiền sử</h5>
                    <p class="text-muted">Hành động, hài hước</p>
                    <a class="btn text-white font-weight custom-round w-100" style="background-color: #E64545" href="/movies">
                        <i class="bi bi-cart3 mr-1"></i>
                        Mua vé
                    </a>
                </div>
                <div class="movie-item">
                    <div class="img-container position-relative">
                        <img class="custom-round" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/dKjjVuPawiREBYjREb3U5SCtfrt.jpg" style="width: 100%; height: 100%">
                        <div class="position-absolute bg-white text-danger font-weight-bold px-1 rounded" style="right: 10px; top: 10px; font-size: 0.8rem">
                            18+
                        </div>
                    </div>
                    <h5 class="mt-3 mb-0 text-movie-title">Mèo đi cảnh</h5>
                    <p class="text-muted">Hành động, hài hước</p>
                    <a class="btn text-white font-weight custom-round w-100" style="background-color: #E64545" href="/movies">
                        <i class="bi bi-cart3 mr-1"></i>
                        Mua vé
                    </a>
                </div>
                <div class="movie-item">
                    <div class="img-container position-relative">
                        <img class="custom-round" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/67ztbGkhtltymsqElMnrfWujsY3.jpg" style="width: 100%; height: 100%">
                        <div class="position-absolute bg-white text-danger font-weight-bold px-1 rounded" style="right: 10px; top: 10px; font-size: 0.8rem">
                            18+
                        </div>
                    </div>
                    <h5 class="mt-3 mb-0 text-movie-title">Chúa hề Shazam</h5>
                    <p class="text-muted">Hành động, hài hước</p>
                    <a class="btn text-white font-weight custom-round w-100" style="background-color: #E64545" href="/movies">
                        <i class="bi bi-cart3 mr-1"></i>
                        Mua vé
                    </a>
                </div>
                <div class="movie-item">
                    <div class="img-container position-relative">
                        <img class="custom-round" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/gRlfFcpPdjREQ3lgeuAuB10gfbR.jpg" style="width: 100%; height: 100%">
                        <div class="position-absolute bg-white text-danger font-weight-bold px-1 rounded" style="right: 10px; top: 10px; font-size: 0.8rem">
                            18+
                        </div>
                    </div>
                    <h5 class="mt-3 mb-0 text-movie-title">Anh em mario</h5>
                    <p class="text-muted">Hành động, hài hước</p>
                    <a class="btn text-white font-weight custom-round w-100" style="background-color: #E64545" href="/movies">
                        <i class="bi bi-cart3 mr-1"></i>
                        Mua vé
                    </a>
                </div>
                <div class="movie-item">
                    <div class="img-container position-relative">
                        <img class="custom-round" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/67ztbGkhtltymsqElMnrfWujsY3.jpg" style="width: 100%; height: 100%">
                        <div class="position-absolute bg-white text-danger font-weight-bold px-1 rounded" style="right: 10px; top: 10px; font-size: 0.8rem">
                            18+
                        </div>
                    </div>
                    <h5 class="mt-3 mb-0 text-movie-title">Chúa hề Shazam</h5>
                    <p class="text-muted">Hành động, hài hước</p>
                    <a class="btn text-white font-weight custom-round w-100" style="background-color: #E64545" href="/movies">
                        <i class="bi bi-cart3 mr-1"></i>
                        Mua vé
                    </a>
                </div>
            </div>
        </div>

        <div class="movie-section mt-4 px-5 py-4 bg-light">
            <div class="movie-section-header d-flex justify-content-between align-items-center mb-3">
                <h4><i class="bi bi-hourglass-split"></i> Phim sắp chiếu</h4>
                <a class="text-decoration-none font-weight-normal" href="/movies">Xem thêm</a>
            </div>
            <div class="movie-section-body d-flex flex-no-wrap" style="gap: 30px 30px; overflow-x: hidden">
                <div class="movie-item">
                    <div class="img-container position-relative">
                        <img class="custom-round" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/gRlfFcpPdjREQ3lgeuAuB10gfbR.jpg" style="width: 100%; height: 100%">
                        <div class="position-absolute bg-white text-danger font-weight-bold px-1 rounded" style="right: 10px; top: 10px; font-size: 0.8rem">
                            18+
                        </div>
                    </div>
                    <h5 class="mt-3 mb-0 text-movie-title">Anh em mario</h5>
                    <p class="text-muted">Hành động, hài hước</p>
                    <a class="btn text-white font-weight custom-round w-100" style="background-color: #E64545" href="/movies">
                        <i class="bi bi-cart3 mr-1"></i>
                        Mua vé
                    </a>
                </div>
                <div class="movie-item">
                    <div class="img-container position-relative">
                        <img class="custom-round" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/jGmC7aMqoLU0ALRKHkz3pQVV1pg.jpg" style="width: 100%; height: 100%">
                        <div class="position-absolute bg-white text-danger font-weight-bold px-1 rounded" style="right: 10px; top: 10px; font-size: 0.8rem">
                            18+
                        </div>
                    </div>
                    <h5 class="mt-3 mb-0 text-movie-title">Avatar: Dòng chảy của</h5>
                    <p class="text-muted">Hành động, hài hước</p>
                    <a class="btn text-white font-weight custom-round w-100" style="background-color: #E64545" href="/movies">
                        <i class="bi bi-cart3 mr-1"></i>
                        Mua vé
                    </a>
                </div>
                <div class="movie-item">
                    <div class="img-container position-relative">
                        <img class="custom-round" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/1AiVQ2ybXKUYgxJ9buJLWNpdTZs.jpg" style="width: 100%; height: 100%">
                        <div class="position-absolute bg-white text-danger font-weight-bold px-1 rounded" style="right: 10px; top: 10px; font-size: 0.8rem">
                            18+
                        </div>
                    </div>
                    <h5 class="mt-3 mb-0 text-movie-title">Trận chiến thời tiền sử</h5>
                    <p class="text-muted">Hành động, hài hước</p>
                    <a class="btn text-white font-weight custom-round w-100" style="background-color: #E64545" href="/movies">
                        <i class="bi bi-cart3 mr-1"></i>
                        Mua vé
                    </a>
                </div>
                <div class="movie-item">
                    <div class="img-container position-relative">
                        <img class="custom-round" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/gRlfFcpPdjREQ3lgeuAuB10gfbR.jpg" style="width: 100%; height: 100%">
                        <div class="position-absolute bg-white text-danger font-weight-bold px-1 rounded" style="right: 10px; top: 10px; font-size: 0.8rem">
                            18+
                        </div>
                    </div>
                    <h5 class="mt-3 mb-0 text-movie-title">Anh em mario</h5>
                    <p class="text-muted">Hành động, hài hước</p>
                    <a class="btn text-white font-weight custom-round w-100" style="background-color: #E64545" href="/movies">
                        <i class="bi bi-cart3 mr-1"></i>
                        Mua vé
                    </a>
                </div>
                <div class="movie-item">
                    <div class="img-container position-relative">
                        <img class="custom-round" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/gRlfFcpPdjREQ3lgeuAuB10gfbR.jpg" style="width: 100%; height: 100%">
                        <div class="position-absolute bg-white text-danger font-weight-bold px-1 rounded" style="right: 10px; top: 10px; font-size: 0.8rem">
                            18+
                        </div>
                    </div>
                    <h5 class="mt-3 mb-0 text-movie-title">Anh em mario</h5>
                    <p class="text-muted">Hành động, hài hước</p>
                    <a class="btn text-white font-weight custom-round w-100" style="background-color: #E64545" href="/movies">
                        <i class="bi bi-cart3 mr-1"></i>
                        Mua vé
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script src="/js/page/home.js"></script>
{% endblock %}