{% extends './template/root.html' %}
{% block header %}
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/movieItem.css">
<link rel="stylesheet" href="/css/carousel.css">
<link rel="stylesheet" href="/css/owl.carousel.min.css">
<link rel="stylesheet" href="/css/owl.theme.default.min.css">
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/component/CarouselHeader.js"></script>
<script src="/js/component/MovieTag.js"></script>
{% endblock %}

{% block title %}
Trang chủ - Đặt vé xem phim online
{% endblock %}

{% block body %}
    {{ navbar | raw }}
    <carousel-header list="{{ listMovie }}"></carousel-header>
    <div class="container">
        <div class="movie-section mt-4 px-5 py-4 bg-light">
            <div class="movie-section-header d-flex justify-content-between align-items-center mb-3">
                <h4><i class="bi bi-tv text-success"></i> Phim đang chiếu</h4>
                <a class="text-decoration-none text-watch-more" href="/movies">Xem thêm <i class="bi bi-three-dots-vertical"></i></a>
            </div>
            <div class="movie-section-body d-flex flex-no-wrap position-relative" style="gap: 30px 30px; overflow-x: hidden">
                {% for movie in listMovieNow %}
                    <movie-tag id="{{movie.movieID}}" link="{{movie.posterLink}}" category='{{movie.category}}' name="{{movie.movieName}}" tag="{{movie.tag.tagName}}"></movie-tag>
                {% endfor %}
            </div>
        </div>

        <div class="movie-section mt-4 px-5 py-4 bg-light">
            <div class="movie-section-header d-flex justify-content-between align-items-center mb-3">
                <h4><i class="bi bi-hourglass-split text-warning"></i> Phim sắp chiếu</h4>
                <a class="text-decoration-none text-watch-more" href="/movies#futureMovie">Xem thêm <i class="bi bi-three-dots-vertical"></i></a>
            </div>
            <div class="movie-section-body d-flex flex-no-wrap" style="gap: 30px 30px; overflow-x: hidden">
                {% for movie in listMovieFuture %}
                    <movie-tag id="{{movie.movieID}}" link="{{movie.posterLink}}" category='{{movie.category}}' name="{{movie.movieName}}" tag="{{movie.tag.tagName}}"></movie-tag>
                {% endfor %}
            </div>
        </div>

        <div class="event-section mt-5">
            <div class="event-border border border-primary position-relative">
                <div class="event-header position-absolute bg-primary px-4 py-2 custom-round" style="top: 0; left: 50%; transform: translate(-50%,-50%)">
                    <h5 class="mb-0 text-white">Khuyến mãi - Sự kiện</h5>
                </div>
                <div class="event-more position-absolute bg-primary rounded-circle text-white d-flex justify-content-center align-items-center" style="font-size: 1.2rem;width: 30px; height: 30px; bottom: 0;left: 50%; transform: translate(-50%, 50%)">
                    <a><i class="bi bi-chevron-down"></i></a>
                </div>
                <div class="event-content d-flex">
                    <div class="event-item">
                        <div class="event-image">
                            <img src="https://www.cgv.vn/media/wysiwyg/2023/042023/U22_N_O_Apr_496x267.png" class="w-100 h-100 custom-round">
                        </div>
                        <div class="event-name mt-3">
                            <h6>Giảm giá cho người dưới 22 tuổi đang là sinh viên, học sinh</h6>
                        </div>
                        <div class="event-date text-muted">
                            11/06/2023
                        </div>
                    </div>

                    <div class="event-item">
                        <div class="event-image">
                            <img src="https://www.cgv.vn/media/wysiwyg/2023/042023/U22_N_O_Apr_496x267.png" class="w-100 h-100 custom-round">
                        </div>
                        <div class="event-name mt-3">
                            <h6>Giảm giá cho người dưới 22 tuổi đang là sinh viên, học sinh</h6>
                        </div>
                        <div class="event-date text-muted">
                            11/06/2023
                        </div>
                    </div>

                    <div class="event-item">
                        <div class="event-image">
                            <img src="https://www.cgv.vn/media/wysiwyg/2023/042023/U22_N_O_Apr_496x267.png" class="w-100 h-100 custom-round">
                        </div>
                        <div class="event-name mt-3">
                            <h6>Giảm giá cho người dưới 22 tuổi đang là sinh viên, học sinh</h6>
                        </div>
                        <div class="event-date text-muted">
                            11/06/2023
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-5">Footer</div>
    </div>
{% endblock %}

{% block js %}
<script src="/js/page/home.js"></script>
{% endblock %}