{% if listCinema|length > 0 %}

{% for cinema in listCinema %}

<div class="d-flex cinema mt-5">
    <div class="d-flex linkCinema col-md-4 col-sm-6 bg-black flex-column  ">
        <div class="idCinema">
            <div>
                <div class="fa fa-video-camera" style="color: rgb(255 233 24);display: block;"></div>
                <label class="cinema-name">{{cinema.cinemaName}}</label>
            </div>
            <label class="cinema-address">{{cinema.cinemaAddress}}</label>
            <a href="{{cinema.mapLink}}"><button class="btn btn-primary  w-100 cinema-mapLink ">Xem vị
                trí</button> </a>
        </div>
    </div>
    <div
        class="showsTime col-sm-6 col-md-8  d-flex flex-wrap flex-row align-item-center align-content-center justify-content-md-start align-items-sm-center justify-content-sm-center">
        {% for showsTime in showtimeList %}
        {% if showsTime.cinemaID == cinema.cinemaID %}
        <button class="button  btn col-2 pd-1 m-1 ml-3" showID="{{showsTime.showID}}" onclick="sendShowIDToPHP(this);">{{showsTime.timeStart|date('H:i')}}</button>
        {% endif %}
        {% endfor %}
    </div>
</div>


{% endfor %}
{% else %}
<h1 class="no-movie-title"> OPP ! Phim hiện không có suất chiếu vào ngày này  </h1>
{% endif %}